body {
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
}

#myKanban {
    overflow-x: auto;
}

.kanban-container {
    margin: 20px;
    margin-top: 20px;
}

.success {
    background: #00b961;
}

.info {
    background: #2a92bf;
}

.warning {
    background: #f4ce46;
}

.error {
    background: #fb7d44;
}

.white {
    background: rgb(241, 241, 241);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button {
    display: block;
    width: 52px;
    margin-bottom: 8px;
    border: 1px solid #616161;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 12px;
}

.delete {
    border: 1px solid #616161;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 12px;
    float: right;
}

#myKanban{
    width: 50% !important;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}
#yaml{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#source{
    width: 100%;
    height: 100%;
    display: block !important;
}

select{
    width: 100%;
}

.controls-container{
    margin-top: 8px;
    margin-left: 20px;
}
.controls{
    z-index: 1;
}

.top-controls{
    white-space: nowrap;
    z-index: 1;
}

select{
    display:inline-block;
    width: 150px;
}
label {
    display: inline-block;
}

.kanban-item{
    padding: 12px;
    margin-bottom: 12px;
    white-space: nowrap;
    border-color: rgb(204, 204, 204);
    border-radius: 8px;
    border-style: solid;
    background-color: #f8f8f8;
    color: rgb(53, 29, 72);
}

.kanban-item > div{
    display: inline-block;
}

.kanban-item > div:nth-child(2){
    width: 120px;
}

.workflow-title{
    width: 100px;
    font-size: 14px;
    overflow:hidden;
    word-break:break-all;
    white-space:normal;
    display: inline-block;
}

.workflow-delete{
    display: inline-block;
}

.kanban-board {
    background-color: #fff;
    border-radius: 8px;
    border: solid 1px #ccc;
}

.kanban-board .kanban-drag {
    padding: 12px;
}

.kanban-title-board{
    color: #777;
    font-weight: normal !important;
}

.drag_handler_icon, .drag_handler_icon:before, .drag_handler_icon:after {
    width: 20px;
    background: #666;
}

#errors{
    color: red;
}